*.ipch
*.db
*.opendb
*.ko
*.mod
*.mod.c
*.mod.o
*.o
*.cmd
*.symvers
*.cache.mk

*.aps
*.obj
*.pdb
*.idb
*.log
*.tlog
*.cache
*.manifest
*.user
*.vsix
*.vsp
*.vspx

.vs/
.vscode/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/

src/linux/build/*.deb
src/windows/build/target
# Attestation secrets
src/windows/build/attestation/authconfig.json
